{% extends 'base.html' %}

{% block content %}

<!-- school provide section start from here  -->
<div class="provide_heading">
    <h1>What Our School Provides</h1>
</div>
<section class="provide">
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/fence.png" alt="fence">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Play Ground</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>Playgrounds are safe spaces where kids develop crucial physical, social, emotional
                        and imaginative skills necessary to gain self-confidence, improve coordination, and
                        advance critical thinking capabilities.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/musical.png" alt="musical">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Music and Dance</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>Children learn new things, like sounds, words and patterns through music. With dance,
                        they can explore and control their body movements. These activities are great for
                        the development and stimulation of the connections in the growing brain.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/crayon.png" alt="crayon">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Art and Crafts</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>Arts and craft activities help instil a sense of achievement and pride in children,
                        boosting theirself-confidence. The opportunity to create whatever a child desires
                        helps foster creativity.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/toy-car.png" alt="toy-car">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Safe Transportation</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>It makes the journey safe and comfortable for every student which is the most
                        concerning thing for the parents. It also makes education balance for every student
                        who stays away from the city.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/sandwich.png" alt="sandwich">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Healthy Food</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>Importance Of Healthy Food For Students: Muscle Repair and Recovery from Injuries. A
                        healthy diet for students is vital on a basic level since it gives them the energy
                        needed to perform various sports and physical activities.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="provide_carts">
        <div class="cart">
            <div class="cart_icon">
                <a href="#">
                    <img src="/static/images/bag.png" alt="bag">
                </a>
            </div>
            <div class="cart_info">
                <div class="cart_heading">
                    <a href="#">
                        <span class="playground">Educational Tour</span>
                    </a>
                </div>
                <div class="cart_para">
                    <p>Education assists in the acquisition of knowledge and skills. Education helps to
                        develop one's character by providing him with the perfect knowledge. It helps in
                        framing the personality and confidence of a person.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- school provide section end here  -->

<!-- School Mission Start from here  -->
<section class="school_mission">
    <div class="mission_heading">
        <h1>Mission Statement Of the School</h1>
    </div>
    <div class="mission_info">
        <p>At ICES, We are a Community of Leader. We Recognise, Honour and celebrate the Leader Within us:</p>
    </div>
    <div class="missions">
        <div class="miss">
            <div class="checkmark">
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
            <div class="miss_info">
                <span>Love Learning</span>
            </div>
        </div>
        <div class="miss">
            <div class="checkmark">
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
            <div class="miss_info">
                <span>Excellence In All We Do</span>
            </div>
        </div>
        <div class="miss">
            <div class="checkmark">
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
            <div class="miss_info">
                <span>Achieve Goals Together</span>
            </div>
        </div>
        <div class="miss">
            <div class="checkmark">
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
            <div class="miss_info">
                <span>Good in Communication</span>
            </div>
        </div>
    </div>

</section>
<!-- School Mission End here -->

<!-- DashBoard start from here  -->
<section class="dashBoard">
    <div class="dash_heading">
        <h1>DashBoard</h1>
    </div>
    <div class="dashboard_items">
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/profile.png" alt="profile">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Staff Members</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/class.png" alt="class">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Class Room</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/chemistry.png" alt="chemistry lab">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Chemistry Lab</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/phyics.png" alt="phyics lab">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Phyics Lab</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/biology.png" alt="biology lab">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Biology Lab</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/computer.png" alt="computer lab">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Computer Lab</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/library.png" alt="Library Hall">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Library Hall</span>
                </a>
            </div>
        </div>
        <div class="item">
            <div class="item_img">
                <a href="#">
                    <img src="/static/images/music.png" alt="music hall">
                </a>
            </div>
            <div class="item_heading">
                <a href="#">
                    <span>Music Hall</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- DashBoard End here  -->

    <!-- Youtube section start from here  -->
    <div class="youtube_heading">
        <h1>Events</h1>
    </div>
    <section class="youtube">
        <div class="yotube_cart">
            <div class="link">
                <iframe src="https://www.youtube.com/embed/eqk5mOOtnRs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            </div>
            <div class="youtube_info">
                <span>Fit India Freedom program organized by International Central English School.</span>
            </div>
        </div>
        <div class="yotube_cart">
            <div class="link">
                <iframe src="https://www.youtube.com/embed/o676myKoVoM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="youtube_info">
                <span>Gift distribution to poor children by Mr. Sushmit Mishra.</span>
            </div>
        </div>
    </section>
    <!-- Youtube section end here  -->

{% endblock %}